.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  padding: 20px;
}

.header {
  max-width: 600px;
}

.logo {
  width: 150px; /* Adjust the width as needed */
  margin-bottom: 20px; /* Space between logo and title */
}

.title {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
}

.description {
  font-size: 1.2rem;
  color: #555;
}

.cta {
  margin-top: 30px;
}

.cta-button {
  padding: 15px 30px;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .logo {
    width: 120px; /* Adjust logo size for smaller screens */
  }

  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .cta-button {
    padding: 12px 25px;
    font-size: 1rem;
  }
}
