.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 20px;
  transition: opacity 0.3s ease;
}

.modal-content {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 800px;
  max-height: 90%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  animation: fadeIn 0.3s ease;
}

.modal-header {
  display: flex;
  margin: 10px 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f0f0f0;

  .modal-close {
    font-size: large;
    color: red;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }

  .modal-body {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    flex-grow: 1;
    overflow-y: auto;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media (max-width: 1024px) {
    .modal-content {
      width: 90%;
      padding: 20px;
    }
  }

  @media (max-width: 768px) {
    .modal-content {
      width: 100%;
      padding: 15px;
    }

    .modal-header {
      flex-direction: column;
      align-items: flex-start;
    }

    .modal-title {
      font-size: 1.25rem;
      text-align: left;
    }

    .modal-close {
      align-self: flex-end;
    }
  }

  @media (max-width: 480px) {
    .modal-content {
      width: 100%;
      padding: 10px;
    }

    .modal-title {
      font-size: 1rem;
    }

    .modal-close {
      font-size: 1.25rem;
      padding: 8px;
    }
  }
}
